﻿@page
@model EquipmentRent.Pages.Catalogue.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Catalogue</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <form asp-page-handler="add" asp-route-id="@item.ID" method="post">
                    <input type="number" name="rentLength" min="1" value="1" />
                    <button class="btn btn-default">Add</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
