﻿@page
@model EquipmentRent.Pages.ShoppingCart.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartItem[0].Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItem[0].Item.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItem[0].RentLength)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CartItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentLength)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <form asp-page-handler="GetInvoice" method="post">
        <input type="submit" value="Get Invoice" class="btn btn-success" />
    </form>
</div>
