﻿@page
@model EquipmentRent.Pages.PricingModel
@{
    ViewData["Title"] = "Pricing";
}

<h1>Pricing</h1>

<div class="text-left">
    <p>
        The price of rentals is based on equipment type and rental length.
    </p>
    <p>
        There are three different fees:
        <ul>
            <li>One-time rental fee – 100€</li>
            <li>Premium daily fee – 60€/day</li>
            <li>Regular daily fee – 40€/day</li>
        </ul>
    </p>
    <p>
        The price calculation for different types of equipment is:
        <ul>
            <li><b>Heavy</b> – rental price is one-time rental fee plus premium fee for each day rented.</li>
            <li><b>Regular</b> – rental price is one-time rental fee plus premium fee for the first 2 days plus regular fee for the number of days over 2.</li>
            <li><b>Specialized</b> – rental price is premium fee for the first 3 days plus regular fee times the number of days over 3.</li>
        </ul>
    </p>
</div>
